
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<script type="text/javascript" src="https://label.ag/static/scripts/eventemitter2.min.js"></script>
<script type="text/javascript" src="https://label.ag/static/scripts//roslib.min.js"></script>

<script type="text/javascript" type="text/javascript">
  // Connecting to ROS
  // -----------------


websocket_url_str = 'wss://label.ag:{{port_prefix}}090';
gzweb_url_str = 'https://label.ag:{{port_prefix}}86';
var ros = new ROSLIB.Ros({
    url : websocket_url_str
  });

  ros.on('connection', function() {
    console.log('Connected to websocket server.');
  
});

function deg2rad(angle){
return (angle*Math.PI)/180.0;
}

function triangleCoords(x,y,radius, angle){
return [radius*Math.cos(deg2rad(-60+angle))+x,radius*Math.sin(deg2rad(-60+angle))+y,radius*Math.cos(deg2rad(90 + angle))+x,radius*Math.sin(deg2rad(90 + angle))+y, radius*Math.cos(deg2rad(240 + angle))+x,radius*Math.sin(deg2rad(240 + angle))+y];
}

ros.on('error', function(error) {
    console.log('Error connecting to websocket server: ', error);
  });

  ros.on('close', function() {
    console.log('Connection to websocket server closed.');
  });

  
  // Subscribing to a Topic
  // ----------------------
listener = ["1" , "2", "3", "4","5", "6", "7","8","9"]
OFF = 10
SCALE = 25
for (i = 1; i < 10; i++) { 
   listener[i-1]  = new ROSLIB.Topic({
    ros : ros,
    name : '/mavros' + i + '/local_position/pose',
    messageType : 'geometry_msgs/PoseStamped'
  });
}
X_OFFSET=10
ALT_SCL=1.7
Y_OFFSET = 10

{% for _ in range %}
listener[{{ forloop.counter|add:"-1"}}].subscribe(function(message) {
   document.getElementById("/traingle-{{forloop.counter}}").setAttribute("points", triangleCoords((X_OFFSET + message.pose.position.x)*SCALE,(Y_OFFSET + -1*message.pose.position.y)*SCALE,20,90));
   document.getElementById("/mavros{{forloop.counter}}/local_position/pose").setAttribute("cx", (X_OFFSET + message.pose.position.x)*SCALE);
   document.getElementById("/mavros{{forloop.counter}}/local_position/pose").setAttribute("cy", (-1*message.pose.position.y + Y_OFFSET)*SCALE);
   document.getElementById("/mavros{{forloop.counter}}/local_position/pose").setAttribute("r", (OFF + message.pose.position.z)/ALT_SCL);
  
});

{% endfor %}


</script>
</head>

<body>
  <h1>OpenUAV Web Console</h1>

 <svg version="1.1"
     xmlns="http://www.w3.org/2000/svg" height="600" width="800">
{% for _ in range %}
  <circle id="/mavros{{forloop.counter}}/local_position/pose" cx="250" cy="250" r="3" stroke="black" stroke-width="1" fill="red" />  
  <polygon id="/traingle-{{forloop.counter}}" points="25,6 10,40 40,40" />
{% endfor %}

</svg>

<iframe id='gzweb-frame' src='' width="1600px" height="1200px" scrolling=yes ></iframe>
<iframe id='video-1' src='http://label.ag:{{port_prefix}}002/stream?topic=/uav_1_camera/image_raw_front'></iframe>
</body>
</html>
