<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AgDSS Web</title>
    <link rel="stylesheet" href="/static/scripts/paperjs/examples/css/style.css">
    <script type="text/javascript" src="/static/scripts/paperjs/dist/paper-full.js"></script>
    <script type="text/paperscript" canvas="canvas">

var startPoint;
var radius=1;
var circlePath;

function onMouseDown(event) {
    startPoint = event.point;
    circlePath = new Path.Circle(startPoint, 1);
    circlePath.fillColor = 'white'

}

function onMouseDrag(event) {
    circlePath.removeSegments();
    	radius = startPoint.getDistance(event.point);

     circlePath = new Path.Circle(startPoint, radius);
    circlePath.fillColor = 'white'
};

function onMouseUp(event) {
  var element = document.getElementById("debug");
  element.innerHTML = circlePath.exportJSON();
}


var raster = new Raster('/static/image-store/frame0000_raw.png');
raster.position = view.center;


    </script>
</head>
<canvas id="canvas" resize></canvas>
<div id="debug">

</div>
</body>
</html>