

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Phyllotaxis Raster</title>
    <link rel="stylesheet" href="/static/scripts/paperjs/examples/css/style.css">
    <script type="text/javascript" src="/static/scripts/paperjs/dist/paper-full.js"></script>
      <script type="text/paperscript" canvas="canvas">
var myPath;

function onMouseDown(event) {
	myPath = new Path();
	myPath.strokeColor = 'black';
}

function onMouseDrag(event) {
	myPath.add(event.point);
}

function onMouseUp(event) {
	var myCircle = new Path.Circle({
		center: event.point,
		radius: 10
	});
	myCircle.strokeColor = 'black';
	myCircle.fillColor = 'white';
}
        var raster = new Raster('/static/image-store/frame0000_raw.png');

// Move the raster to the center of the view
raster.position = view.center;
// Scale the raster by 50%
raster.scale(0.2);
    </script>
</head>
    <canvas id="canvas" resize></canvas>
</body>
</html>