<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AgDSS Web</title>
    <!--<link rel="stylesheet" href="/static/scripts/paperjs/examples/css/style.css"> -->
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/scripts/paperjs/dist/paper-full.min.js"></script>
   <!-- <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script> -->
    <script type='text/javascript' src='/static/scripts/jQuery/jquery-3.0.0.min.js'></script>
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->


    <script type="text/paperscript" canvas="canvas">
       var startPoint;
        var raster;
        var labelsLayer = new paper.Layer();
        var isActive = false;
        var aboveExistingLabel = false;
        var labelsDrawn = 0; //Whether a label has been drawn on this image
        var prevLabels = 0;

        $(document).ready(function() {
            $("#applyLabels").click(function() {

                //Check if there are labels or if the no label checkbox is checked
                if(labelsDrawn <= 0 && !$('#noLabels').prop('checked')) {
                    alert('No labels drawn in image. If there are no labelable features in this image,' +
                            ' check the "No Labels in image" checkbox');
                    return false;
                }
                var updated_category = $("#categories").val();
                //selectedImage = JSON.parse($('#imageCombo').val().toString());
                $('#noLabels').prop('checked', false);
                prevLabels = labelsDrawn;
                labelsDrawn = 0;
                var svg = window.labelsLayer.exportSVG({embedImages: false, asString: false, matchShapes: true});
                svg.getElementsByTagName('image')[1].remove(); //Remove image added by cropping
               for (i = 0, circles = svg.getElementsByTagName('circle'); i < circles.length; i++) {
                    circles[i].setAttribute('transform', 'translate(' + imageX + ',' + imageY + ')');
                }
                svg.getElementsByTagName('image')[0].setAttribute('x', '0');
                svg.getElementsByTagName('image')[0].setAttribute('y', '0');
                xmlSer = new XMLSerializer();
                svg = xmlSer.serializeToString(svg);
                $('#debug').text('loading next image...');
		$.ajax({
                    url : "/webclient/applyLabels",
                    type : "POST",
                    dataType: 'text',
                    data : JSON.stringify({
                        image_name: currentImage.image_name,
                        path: currentImage.path,
                        category_name: updated_category,
                        label_list: svg,
                        subimage: {
                            x: imageX,
                            y: imageY,
                            width: imageWidth,
                            height: imageHeight,
                        },
                        image_filters: {
                            brightness: $('#brightnessControl').val(),
                            contrast: $('#brightnessControl').val(),
                            saturation: $('#brightnessControl').val()
                        }
                    }),
                    success : function(data) {
                        $('#debug').text('');
                        if(window.labelsLayer.hasChildren()){
                            window.labelsLayer.removeChildren();
                        }
                        aboveExistingLabel = false;
                        //window.labelsLayer.importJSON(JSON.parse(data));
                        //$('#noLabels').prop('checked', false);
                        getNewImage();
                    },
                    error : function(xhr,errmsg,err) {
                        alert(xhr.status + ": " + xhr.responseText);
                        labelsDrawn = prevLabels;

                    }
                });
                return false;
            });
        });

        function onMouseDown(event) {
            if(!aboveExistingLabel){ //Create new label
                startPoint = event.point;
                isActive = true; //Whether the path is currently being created
                var center = (startPoint + event.point)/2
                //window.circlePath = new Path.Circle(center, startPoint.getDistance(event.point)/2);
                dragged = false; //Whether the path has been created with a click and dragged to be larger than a simgle point
            }
            else {
                dragStartPoint = event.point;
            }

        }

        function onMouseDrag(event) {
            if(isActive){
                if(!dragged) {
                    var center = (startPoint + event.point)/2
                    window.circlePath = new Path.Circle(center, startPoint.getDistance(event.point)/2);
                    dragged = true;
                    labelsDrawn += 1;
                }
                var center = (startPoint + event.point)/2
                newPath = new Path.Circle(center, startPoint.getDistance(event.point)/2);
                newPath.strokeColor = 'yellow';
                newPath.strokeWidth = 2;
                newPath.opacity = 0.5;
                newPath.onMouseEnter= function(event){
                    if(!isActive) {
                        aboveExistingLabel = true;
                        this.fillColor = 'red';
                        window.circlePath = this;
                    }
                }
                newPath.onMouseLeave= function(event){
                    aboveExistingLabel = false;
                    this.fillColor = 'aqua';
                }
                newPath.onDoubleClick = function(event) {
                    isActive = false;
                    aboveExistingLabel = false;
                    this.remove();
                    //console.log(window.labelsLayer.exportSVG({embedImages: false, asString: false}));
                    labelsDrawn -= 1
                }
                window.circlePath.remove();
                window.circlePath = newPath;
            }else{
                window.circlePath.position += event.point - dragStartPoint;
                dragStartPoint = event.point;
            }

        }

        function onMouseUp(event) {
            isActive = false;
            if (!dragged) {
                aboveExistingLabel = false;
            }
            else {
                window.circlePath.opacity = 0.3;
                window.circlePath.fillColor = 'aqua';
            }

        }



    </script>


    <script type="text/javascript">
        imageX = 0;
        imageY = 0;
        imageWidth = 0;
        imageHeight = 0;
        var currentImage = {};
        /*function onImageFormChange() {
            if (!window.labelsLayer) {
                window.labelsLayer = new paper.Layer();
            }else{
                raster.remove();
            }
            //var myselect = document.getElementById("imageCombo");
            selectedImage = JSON.parse($('#imageCombo').val().toString());
            $.ajax({
                url: "/webclient/getInfo",
                type: "GET",
                dataType: "json",
                data: {
                    image_name: selectedImage.image_name,
                    path: selectedImage.path
                },
                success: function (response) {
                    data = response.labels;
                    if (data) {
                        window.labelsLayer.importJSON(JSON.parse(data));
                    }
                    displayImage(selectedImage.image_name, selectedImage.path, response.categories)
                },

                error: function (xhr, errmsg, err) {
                    alert(xhr.status + ": " + xhr.responseText);
                }
            });


        } */

        function getNewImage() {
            if (!window.labelsLayer) {
                window.labelsLayer = new paper.Layer();
            }else{
                raster.remove();
            }

            //selectedImage = JSON.parse($('#imageCombo').val());
            $.ajax({
                url: "/webclient/getNewImage",
                type: "GET",
                dataType: "json",
                data: currentImage,
                /*{
                    image_name: selectedImage.image_name,
                    path: selectedImage.path
                }, */
                success: function (response) {
                    data = response.labels;
                    if (data) {
                        displayLabels(response.labels);
                    }
                    imageX = response.subimage.x;
                    imageY = response.subimage.y;
                    imageWidth = response.subimage.width;
                    imageHeight = response.subimage.height;
                    imagePadding = response.subimage.padding;
                    if(typeof padding == 'undefined') {
                        padding = 0;
                    }
                    displayImage(response.image_name, response.path, response.categories,
                        new paper.Point(response.subimage.x,response.subimage.y),
                        imageWidth, imageHeight, imagePadding);
                    currentImage = response
                },

                error: function (xhr, errmsg, err) {
                    alert(xhr.status + ": " + xhr.responseText);
                }
            });
        }
        //TODO: Input validation and error checking
        function displayImage(image_name, image_path, categories, point, width, height, padding) {

            size = new paper.Size(width + 2*padding, height + 2*padding);
            //Add new image and resize canvas to fit image
            img = new Image();
            img.crossOrigin = "Anonymous";
            try{
                img.src = image_path + image_name;
            }
            catch(err) {
                alert("Currently external URLs cannot be used. Error: " + err.message)
            }

            function setup_images() {
                //paper.view.setViewSize(img.naturalWidth, img.naturalHeight);
                paper.view.setViewSize(size);
                //paper.view.getViewSize();
                $('#canvasWrapper').css('width', size.width).css('height', size.height)
                //$('#canvas').css('box-shadow', " -20 -20 20px" +  imagePadding + "px rgba(255,0,0,0.5)");
                point = new paper.Point(point.x - padding, point.y - padding);
                raster = new paper.Raster(img).getSubRaster(new paper.Rectangle(point, size));
                raster.position = paper.view.center;
                paper.view.update();

            }
            if(img.complete) {
                setup_images();
            }else {
              img.addEventListener('load', setup_images);
              img.addEventListener('error', function() {
                  alert('Error loading image');
              })
            }

            //Category selection setup
            var output = [];
            $('#categories')[0].options.length = 0;
            $.each(categories, function(i, val)
            {
              output.push('<option value="'+ val +'">'+ val +'</option>');
            });
            $('#categories').html(output.join(''));
            //$('#categoryName').html(response.categories[0]);

            $('#image_name').html("Image name: " + image_name);
            $('#image_info_name').html("Image name: " + image_name);
            $('#image_info_path').html("Image path: " + image_path);

        }

        //TODO: Make work for both JSON string and JSON object
        function displayLabels(labels) {
            //window.labelsLayer.importJSON(JSON.parse(data));
        }



        $('document').ready(function(){


            //Canvas Controls
            $('#brightnessControl').on('input', function() {
                var brightness = $('#brightnessControl').val();
                $('span#brightness').html(brightness);
                cssText = 'brightness(' + $('#brightnessControl').val() + ')' + 'contrast(' + $('#contrastControl').val() + ')' + 'saturate(' +  $('#saturationControl').val() + ')';
                $('#canvas').css('-webkit-filter', cssText);
                $('#canvas').css('filter', cssText);
            });
            $('#contrastControl').on('input', function() {
                var contrast = $('#contrastControl').val();
                cssText = 'brightness(' + $('#brightnessControl').val() + ')' + 'contrast(' + $('#contrastControl').val() + ')' + 'saturate(' +  $('#saturationControl').val() + ')';
                $('span#contrast').html($('#contrastControl').val());
                $('#canvas').css('-webkit-filter', cssText);
                $('#canvas').css('filter', cssText);
            });
            $('#saturationControl').on('input', function() {
                var saturation = $('#saturationControl').val();
                cssText = 'brightness(' + $('#brightnessControl').val() + ')' + 'contrast(' + $('#contrastControl').val() + ')' + 'saturate(' +  $('#saturationControl').val() + ')';
                $('span#saturation').html($('#saturationControl').val());
                $('#canvas').css('-webkit-filter', cssText);
                $('#canvas').css('filter', cssText);
            });

            $('#resetImageControl').on('click', function() {
                $('#brightnessControl').val("1").trigger('input');
                $('#contrastControl').val("1").trigger('input');
                $('#saturationControl').val("1").trigger('input');
            });

        });



    </script>


</head>
<body onload="getNewImage()" bgcolor="#c0c0c0">
<div id="main>">
    <!--<div id="toolbars">
        <select id="imageCombo"  onchange="onImageFormChange()">
            {#% for image in latest_image_list %#}
                {#% ifequal image selected_image %#}
                    <option value='{"image_name": "{#  #}{image.name}}", "path": "{#  #}{ image.path }}"}' selected="selected">{#  #}{image.name}}</option>
                {#% else %#}
                    <option value='{"image_name": "{#  #}{image.name}}", "path": "{#  #}{ image.path }}"}'>{#  #}{image.name}}</option>
                {#% endifequal %#}
            {#% endfor %#}
        </select>
    </div> -->
 <div id="debug">

    </div>

    <div id="controls">
        <form method="post" name="applyLabelsForm" >
            {% csrf_token %}
            <!--<input name="categoryName" id="categoryName" type="text"> -->
                <span id="categoryWord">Category: </span>
                <select id="categories"></select>
                <span name="categoryName" id="categoryName" style="font-size: 30px;"></span>
            <input id="applyLabels" type="button" value="submit" style="font-size : 20px; height:50px; width:130px"> <br>
            <input type="checkbox" id="noLabels" /> No labels in image
        </form>
        <a href="/logout">logout</a>
        <br/>
<div id="tips">
    <p>
        <ol style="text-align: left;padding-left: 0px;">
        <ul>Encircle occluded fruits <i>entirely</i>, use your best guess!</ul>
        <ul>Click and drag to select region.</ul>
		<ul>Labels can be moved by clicking and dragging.</ul> 
		<ul>Double click to delete an area.</ul>
        </ol>
    </p>
</div>

</div>
    <table id="displayTable"><tr>
    <td><div id="canvasDiv">
        <!--<canvas id="canvas" resize></canvas> -->
       <div id="canvasWrapper">
           <canvas id="canvas" width="1920" height="1080"></canvas>
        </div>
        <div id="image_info">
            <p id="image_info_name"></p>
            <p id="image_info_path"></p>
        </div>

         <div>
             <p>To report a bug, go to the github page <a href="https://github.com/dcunhas/agdss/issues">here</a> and open a new issue</p>

        </div>

    </div></td>


    <td id="imageControlTd"><div id="imageControlContainer">
        <div id="imageControl">
            <label id=brightnessLabel>Brightness:</label> <span id="brightness">1</span><br>
            <input type="range"  min="1" max="10" step="0.1" value="1" id="brightnessControl"/><br>
            <label id="contrastLabel">Contrast:</label> <span id="contrast">1</span><br>
            <input type="range"  min="1" max="3" step="0.1" value="1" id="contrastControl"/><br>
            <label id="saturationLabel">Saturation:</label> <span id="saturation">1</span> <br>
            <input type="range"  min="1" max="5" step="0.1" value="1" id="saturationControl"/><br>
            <button type="button" id="resetImageControl" >Reset</button>
        </div>
    </div></td>


    </tr></table>
    <!--<div id="submitImage">
        <button id="next">Submit</button>
    </div> -->

</div>
</body>
</html>
