html, body {
    /*margin: 0;
    overflow: hidden;
    height: 100%; */

}
div #toolbars {
    visibility: hidden;
    display:none;
}
/* Scale canvas with resize attribute to full size
canvas[resize] {
    width: 80%;
    height: 80%;
} */

button #next {
    type:submit;
}

div #canvasDiv {
}


#canvas {
    border: 3px solid black;
}

div #imageControlContainer {
    
}

div #imageControl {
    padding: 2px;
    border: 5px groove;
}

#imageControlTd {
    vertical-align: : top;
}



#displayTable td,tr{
    position:relative;left:100px;top:2px;">
}