html,
body {
    margin: 0;
    /*overflow: hidden; */
    height: 100%;
}

/* Scale canvas with resize attribute to full size
canvas[resize] {
    width: 80%;
    height: 80%;
} */

button #next {
    type:submit;
}

div #canvasDiv {
    position: fixed;
}